*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    padding: 100px;
}
.container{
    width: 900px;
    margin: 0 auto;
}
header{
    width: 900px;
}
.logo{

}
header ul{

}
header ul li{

}